<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <!-- include navbar -->
    <style>
        .sidebar {
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            overflow-y: auto;
            position: fixed;
            width: 200px;
        }

    </style>

    <!--
    Pour faire des espaces ???
     <i class="fas fa-chart-bar fa-fw me-3"></i>
     -->

    <nav
            id="sidebarMenu"
            class="col-md-auto collapse d-lg-block sidebar bg-white "
    >
        <div class="position-sticky pure-menu-list">
            <img class="rounded mx-auto d-block" src="{{ asset('img/logo.png') }}">
            <div class="list-group list-group-flush mx-3 mt-4">

                <!-- Dashboard -->
                <a
                        href="/admin"
                        class="list-group-item list-group-item-action py-2 ripple icons"
                        aria-current="true"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/dashboard_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                </a>
                <!-- Classroom -->
                <a
                        href="/admin/inventaire/lister_salles"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/classroom_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                </a>
                <!-- SA -->
                <a
                        href="/admin/inventaire/lister_systemes"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/SA_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                </a>
                <!-- Sensor -->
                <a
                        href="/admin/inventaire/lister_capteurs"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/sensor_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                </a>
                <!-- notification -->
                <a
                        href="#"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/notification_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                </a>
                <!-- logout -->
                <a
                        href="#"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/logout_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                </a>

            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
