<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="public/js/functions.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo.png') }}" >
              <!-- href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>️</text></svg>"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>


    <!-- include navbar -->
    <style>
        .sidebar {
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            overflow-y: auto;
            position: fixed;
            width: 200px;
        }

        .sousmenu{
            text-align:center;
        }

        .sousmenu a{
            display:block;
            width:100%;
            height:100%;
            font-family:arial,sans-serif;
            font-size:16px;
            color:black;
            text-decoration:none;
            padding: 3px;

        }
        .menu{
            border-left:none!important;
            border-right:none!important;
        }


    </style>

    <!--

     <i class="fas fa-chart-bar fa-fw me-3"></i>
     -->

    <nav
            id="sidebarMenu"
            class="col-md-auto collapse d-lg-block sidebar bg-white "
    >



        <div class="position-sticky pure-menu-list">
            <img class="rounded mx-auto d-block" src="{{ asset('img/logo.png') }}">
            <div class="list-group list-group-flush mx-3 mt-4">

                <!-- Dashboard -->
                <a
                        href="/admin/profil"
                        class="list-group-item list-group-item-action py-2 ripple icons"
                        aria-current="true"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/profil_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3">&ensp; &ensp; &ensp;&ensp;Profil</i>

                </a>



                <!-- Classroom -->
                <a
                        href="/admin/selection_salle"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/dashboard_logo.png') }}">

                    <i class="fas fa-chart-bar fa-fw me-3 d-flex justify-content-center"> &ensp; Info Salles </i>
                </a>


                <!-- gRAPHIQUE -->
                <a
                        href="/admin/suivi/selection_salle"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/graphique_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3">&ensp; &ensp; Graphique</i>
                </a>
                <!-- Inventaire -->
                <!-- CACHER La div inventaire si role tech -->
                <div>
                    <div class= menu id="menu1" onclick="afficheMenu(this)">
                        <a
                                href="#"
                                class="menu list-group-item list-group-item-action py-2"

                        >

                            <i class="fas fa-chart-bar fa-fw me-3"></i>
                            <img class="rounded mx-auto d-block" src="{{ asset('img/SGBD_logo.png') }}">
                            <i class="fas fa-chart-bar fa-fw me-3"> &ensp; &ensp; Inventaire</i>
                        </a>

                    </div>
                    <div id="sousmenu1" style="display:none">

                        <div class="sousmenu ">
                            <a href="/admin/inventaire/lister_salles"><i> Salles</i></a>

                        </div>
                        <div class="sousmenu">
                            <a href="/admin/inventaire/lister_systemes">Systemes</a>
                        </div>
                        <div class="sousmenu">
                            <a href="/admin/inventaire/lister_capteurs">Capteurs</a>
                        </div>

                    </div>

                </div>

                <!-- alerte
                <a
                        href="/admin/lister_alertes"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/alerte_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3"> &ensp; &ensp; &ensp; Alertes</i>
                </a>-->

                <!-- logout -->
                <a
                        href="/logout"
                        class="list-group-item list-group-item-action py-2 ripple"
                >
                    <i class="fas fa-chart-bar fa-fw me-3"></i>
                    <img class="rounded mx-auto d-block" src="{{ asset('img/logout_logo.png') }}">
                    <i class="fas fa-chart-bar fa-fw me-3"> &ensp; &ensp;Deconnexion</i>
                </a>

            </div>
        </div>
    </nav>




    {% block body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src="{{ asset('js/function.js') }}"></script>

    </body>
</html>
