{% extends 'logo.html.twig' %}

{% block title %}Données d'une salle{% endblock %}

{% block body %}
    <style>

        .body{
            background-color: #f7f9fa;
            height: 100%;
            font-family: arial;
            text-align: center;
        }

        /************************* GRILLE **************************/
        .data-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; /* Espacé sans être collé aux bords */
            /*margin: 100px;*/
        }

        .box {
            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
            width: 250px;
        }

        .box:hover{
            /*color: #014898;
            font-size: 25px;*/
            box-shadow: 5px 5px 5px grey;
            text-shadow: 2px 2px 5px grey ;
        }

        .titreDonnee{
            font-size: 20px;
            /*padding: 10px;*/
        }

        .donnee{
            padding: 50px;
            font-size: 35px;
            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
        }

        /****** BOUTONS ALERTE ******/

        .boutonAlerte{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 50px;
        }

        .boxBouton {
            /*border: 0.5px solid grey;
            border-radius: 8px;*/
            width: 250px;
        }

        /************ DESCRIPTION *************/

        .description{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 100px;
        }

        /************ ALERTES *************/

            {% if temp > room.getType().getTempMax() or temp < room.getType().getTempMin() %}
            .Temp {color: white; border: 1px solid black; background-color: #B51b1b;}
            .box:nth-child(1){
                transform: scale(1);
                animation: box 1s linear infinite;
            }
            {% endif %}
            {% if hum > room.getType().getHumMax() or hum < room.getType().getHumMin() %}
            .Hum {color: white; border: 1px solid black; background-color: #B51b1b;}
            .box:nth-child(2){
                transform: scale(1);
                animation: box 1s linear infinite;
            }
            {% endif %}
            {% if co2 < room.getType().getCo2Min()  or co2 >= room.getType().getCo2Max() %}
            .C02 {color: white; border: 1px solid black; background-color: #B51b1b;}
            .box:nth-child(3){
                transform: scale(1);
                animation: box 1s linear infinite;
            }
            {% endif %}

        .btn{margin-top: 15px; background-color: #B51b1b; color: white; max-width: 250px;}
        .btn-blue{background-color: #00489a; color: white;}

        /********* EFFET *********/

        @keyframes box{
            0%,
            100%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.3);
            }
        }

        /************ TITRE ************/

            .title
            {
                position:absolute;
                text-align:center;
                width:100%;
                font-size: 40px;
            }

            .titleEffect {
                position: relative;
                color: black;
                text-decoration: none;
            }

            .titleEffect:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0px;
                width: 0%;
                left: 0px;
                height: 3px;
                transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
                background: #014898;
            }

            .titleEffect:hover:after {
                width: 100%;
            }

    </style>

    <div class="body">
        <br>
        <div class="title">
            <a class="titleEffect">{{ room.getName() }}</a>
        </div>
        <br>
        <br><br><br><br><br>
        <br>
        <div class="container">
            <div class="data-container">

                <div class="box">
                    <div class="titreDonnee">Température</div>
                    {% if temp != "NULL"%}

                        <div class="Temp donnee">{{ temp }} °C</div>
                        Date de relevé : {{ dateT }}
                    {% else %}
                        <div class="Temp donnee">Pas de<br>donnée</div>
                    {% endif %}
                </div>

                <div class="box">
                    <div class="titreDonnee">Humidité</div>
                    {% if hum != "NULL"%}

                        <div class="Hum donnee">{{ hum }} %</div>
                        Date de relevé : {{ dateH }}
                    {% else %}
                        <div class="Temp donnee">Pas de<br>donnée</div>
                    {% endif %}
                </div>
                <div class="box">
                    <div class="titreDonnee">CO2</div>
                    {% if co2 != "NULL"%}

                        <div class="C02 donnee">{{ co2 }} PPM</div>
                        Date de relevé : {{ dateC }}
                    {% else %}
                        <div class="Temp donnee">Pas de<br>donnée</div>
                    {% endif %}
                </div>
            </div>

            <div class="boutonAlerte">
                <div class="boxBouton">
                    {% if temp > room.getType().getTempMax() or temp < room.getType().getTempMin() %}
                        {% if temp != "NULL" %}
                            <a class="btn red btn-lg" href="/salle/alerte/{{room.id}}/1 " role="button">Afficher les indications</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="boxBouton">
                    {% if hum > room.getType().getHumMax() or hum < room.getType().getHumMin() %}
                        {% if hum != "NULL" %}
                            <a class="btn red btn-lg" href="/salle/alerte/{{room.id}}/2" role="button">Afficher les indications</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="boxBouton">
                    {% if co2 >= room.getType().getCo2Max()  or co2 < room.getType().getCo2Min() %}
                        {% if co2 != "NULL" %}
                            <a class="btn red btn-lg" href="/salle/alerte/{{room.id}}/3" role="button" >Afficher les indications</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="description">


            <div class="textSensor">
                <br><br>
                <ul>Des conseils vous seront donnés si :
                    <li>- {{ room.getType().getTempMin() }} °C / + {{ room.getType().getTempMax() }} °C </li>
                    <li>-{{ room.getType().getHumMin() }} % / + {{ room.getType().getHumMax() }}% d'humidité </li>
                    <li>- {{ room.getType().getCo2Min() }} PPM / +{{ room.getType().getCo2Max() }}PPM </li>
                </ul>
            </div>
        </div>
        <br>
        <a class="btn btn-blue btn-primary" href="/salle/selection" role="button">Retour</a>
    </div>
{% endblock %}
