{% extends 'basewithnavbar.html.twig' %}

{% block title %}Ajout d'un système{% endblock %}

{% block body %}
    <style>
        body{
            background-color: #f7f9fa;
        }

        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        p{
            font-size: 25px;
        }

        .btn-primary {
            color: #fff;
            background-color: #00489a;
            border-color: #00489a;
        }

        .error {
            color : rgba(195,31,41,0.9);
            font-size : 15px ;
            list-style-type : none;
        }

        .title{
            font-size: 75px;
            text-decoration-line: underline;
            text-decoration-color: #00489a;
        }
    </style>

    <div class="example-wrapper">

        <p class="title"> Ajouter ou modifier un Système d'acquisition <p/>
        <br><br>
        {{ form_start(form) }}
        <p>Nom du systeme : {{ form_widget(form.Name, { 'attr': {'placeholder': "ex. System 1"} }) }} <p/>

        <p>Tag du systeme : {{ form_widget(form.Tag, { 'attr': {'placeholder': "ex. 1"} }) }}<p/>

        <p>Nom de la salle : {{ form_widget(form.Room) }} <p/>

        <div class="error"> {{ form_errors(form) }} </div>
        <br>
        <button class="btn btn-primary" type="submit">Enregistrer le Système d'Acquisition</button>
        <a class="btn btn-primary" href="/inventaire/lister_systemes" role="button">Annuler</a>

        {{ form_end(form) }}
    </div>
{% endblock %}
