{% extends 'basewithnavbar.html.twig' %}

{% block title %}Ajout de Capteur{% endblock %}

{% block body %}
    <style>
        body{
            background-color: #f7f9fa;
        }

        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }


        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        .btn-primary {
            color: #fff;
            background-color: #00489a;
            border-color: #00489a;
        }

        p{
            font-size: 25px;
        }

        .error {
            color : rgba(195,31,41,0.9);
            font-size : 15px ;
        }

        .title{
            font-size: 75px;
            text-decoration-line: underline;
            text-decoration-color: #00489a;
        }
    </style>

    <div class="example-wrapper">
        <!-- include bar de menu qui devrait être dans un .html -->

        <p class="title"> Ajouter un Capteur </p>

        <br><br>

        {{ form_start(form) }}
        <p>Nom du capteur : {{ form_widget(form.Name, { 'attr': {'placeholder': "ex. Capteurs 1"} }) }} <p/>

        <p>Type du capteur : {{ form_widget(form.type) }}<p/>

        <p>Etat du capteur : {{ form_widget(form.state) }} <p/>

        <p>Système du capteur : {{ form_widget(form.systems) }} <p/>
        <br/>

        <div class="error"> {{ form_errors(form) }} </div>

        <button class="btn btn-primary" type="submit">Enregistrer le Capteur</button>

        <a class="btn btn-primary" href="/inventaire/lister_capteurs" role="button">Annuler</a>

        {{ form_end(form) }}
    </div>
{% endblock %}
