                                                                                                   {% extends 'basewithnavbar.html.twig' %}

{% block title %}Données d'une salle{% endblock %}

{% block body %}
    <style>
        /*.example-wrapper { text-align: center; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/
        body{
            background-color: #f7f9fa;
        }
        .text_center{
            height: 100%;
            font-family: arial;
            text-align: center;
        }

        .title
        {
            margin-top: 0px;
            position:absolute;
            text-align:center;
            width:100%;
            font-size: 40px;
        }

        .titleEffect {
            position: relative;
            color: black;
            text-decoration: none;
        }

        .titleEffect:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0%;
            left: 0px;
            height: 3px;
            transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
            background: #014898;
        }

        .titleEffect:hover:after {
            width: 100%;
        }
        /************************* TITRE **************************/
        .textSensor{
            position : relative;
            margin-top : 50px;
        }

        .salle:hover .shape {
            stroke-width: 4px; /* Epaisseur du contour plus fine que avant */
            stroke-dashoffset: 0;
            stroke-dasharray: 800;
        }

        /************************* GRILLE **************************/
        .data-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; /* Espacé sans être collé aux bords */
            /*margin: 100px;*/
        }

        .boxDesc{
            border: 2px solid grey;
            border-radius: 32px;
            box-shadow: 2px 2px 5px grey;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 30px;
        }

        .box{
            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
            padding: 20px;
            margin-bottom: 140px;
        }
        .box:hover{
            /*color: #014898;*/
            /*font-size: 25px;*/
            box-shadow: 5px 5px 5px grey;
            text-shadow: 2px 2px 5px grey;
        }

        .titreDonnee{
            font-size: 30px;
            /*padding: 10px;*/
        }

        .donnee{
            padding: 50px;
            font-size: 35px;
            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
        }

        /*************************/
        .description{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 100px;
        }
        /********* EFFET *********/

        @keyframes box{
            0%,
            100%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.3);
            }
        }



        {% if nbAlert ["T"]["More"] >50 %}
        .TempMore {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(1){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}
        {% if nbAlert ["T"]["Less"] >50 %}
        .TempLess {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(1){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}
        {% if nbAlert ["H"]["More"] >50 %}
        .HumMore {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(2){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}
        {% if nbAlert ["H"]["Less"] >50 %}
        .HumLess {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(2){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}
        {% if nbAlert ["C"]["More"] >50 %}
        .C02More {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(3){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}
        {% if nbAlert ["C"]["Less"] >50 %}
        .C02Less {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(3){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}

        .justify{
            justify-content: center;
        }
    </style>
    <div class="text_center">
        <br>
        <div class="title">
            <a class="titleEffect">{{ room.getName() }}</a>
        </div>
        <br>
        <br><br><br><br><br>
        <br>
        <div class="container">
            <div class="data-container">
                <div class="bg-white box">
                    <div class="titreDonnee">Température</div>
                        <div class="TempMore donnee">{{ nbAlert["T"]["More"] }} Alertes supérieure</div>
                        <div class="TempLess donnee">{{ nbAlert["T"]["Less"] }} Alertes inférieure</div>
                </div>
                <div class="bg-white box">
                    <div class="titreDonnee">Humidité</div>
                    <div class="HumMore donnee">{{ nbAlert["H"]["More"] }} Alertes supérieure</div>
                    <div class="HumLess donnee">{{ nbAlert["H"]["Less"] }} Alertes inférieure</div>
                </div>
                <div class="bg-white box">
                    <div class="titreDonnee">CO2</div>
                    <div class="C02More donnee">{{ nbAlert["C"]["More"] }} Alertes supérieure</div>
                    <div class="C02Less donnee">{{ nbAlert["C"]["Less"] }} Alertes inférieure</div>
                </div>
            </div>
        <div class ="justify"><a class="btn btn-primary" href="/admin/alerte_selection" role="button">Retour</a></div>
            <br><br><br><br>
    </div>
{% endblock %}