{% extends 'base.html.twig' %}

{% block title %}Détails Alerte{% endblock %}

{% block body %}
<style>
    .main {top:0;right:0; text-align: center; margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .main2{
        top:0;
        left:0;
        width:100%;
        text-align: center;
    }
    .advice{font-size: 60px; color: black;}
    .alerte_main{font-size: 100px; color: white;background-color: #B51b1b;}
    .secondary_text{font-size: 75px; color: #B51b1b;}
    .advicetext{font-size: 50px; color: black;padding: 15px;border: 1px solid black;}
    .btn{margin-top: 35px; background-color: black;color: white;}
    body{
        background-color: white;
    }
    ul{
        list-style-type: none;
    }
</style>
<div class="main2">



        <div class="alerte_main">
            ALERTE
        </div>

        {% if id == 1 and temp > 24%}
            <div class="secondary_text">
                Temperature trop élévé
            </div>
            <div class="secondary_text">
                {{ temp }} °C
            </div>
            <div class="advice">
                conseils :
            </div>
            <div class="advicetext">
                <ul>
                    <li>Aérer la piece</li>
                    <li>Ouvrez les portes et fenêtres</li>
                    <li>Uilisez des ventilateurs</li>
                </ul>
            </div>
        {% endif %}
        {% if id == 1 and temp < 16 %}
            <div class="secondary_text">
                Temperature trop basse
            </div>
            <div class="secondary_text">
                {{ temp }} °C
            </div>
            <div class="advice">
                conseils :
            </div>
            <div class="advicetext">
                <ul>
                    <li>Allumez les radiateurs</li>
                    <li>Fermez les portes et les fenêtres</li>
                </ul>
            </div>
        {% endif %}

    <div class="main">
        {% if id == 2 and hum > 59 %}
            <div class="secondary_text">
                humidité trop haute
            </div>
            <div class="secondary_text">
                {{ hum }} %
            </div>
            <div class="advice">
                conseils :
            </div>
            <div class="advicetext">
                <ul>
                    <li>Aérer la piece</li>
                    <li>Ouvrez les portes et fenêtres</li>
                    <li>Uilisez des ventilateurs</li>
                    <li>utilisez un déshumidificateur d'air</li>
                </ul>
            </div>
        {% endif %}
        {% if id == 2 and hum < 41%}
            <div class="secondary_text">
                humidité trop basse
            </div>
            <div class="secondary_text">
                {{ hum }} %
            </div>
            <div class="advice">
                conseils :
            </div>
            <div class="advicetext">
                <ul>
                    <li>Aérer la piece</li>
                    <li>Ouvrez les portes et fenêtres</li>
                    <li>Utilisez un humidificateur d'air</li>
                </ul>
            </div>
        {% endif %}
        {% if id == 3 and co2 >799%}
            <div class="secondary_text">
                CO2 trop haut !
            </div>
            <div class="secondary_text">
                {{ co2 }} ppm
            </div>
            <div class="advice">
                conseils :
            </div>
            <div class="advicetext">
                <ul>
                    <li>Aérer la piece</li>
                    <li>Ouvrez les portes et fenêtres</li>
                    <li>Uilisez des ventilateurs</li>
                </ul>
            </div>
        {% endif %}



        <a class="btn btn-lg" role="button" href="javascript:history.go(-1)">Retour</a>
    </div>

</div>

{% endblock %}
