{% extends 'basewithnavbar.html.twig' %}

{% block title %}Données d'une salle{% endblock %}

{% block body %}
    <style>
        /************** CSS **************/
        /**** General characteristics ****/
        body{
            background-color: #f7f9fa;
        }
        .text_center{
            height: 100%;
            font-family: arial;
            text-align: center;
        }

        /************ Title ************/
        .title
        {
            position:absolute;
            text-align:center;
            width:100%;
            font-size: 40px;
        }

        .titleEffect {
            position: relative;
            color: black;
            text-decoration: none;
        }

        .titleEffect:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0%;
            left: 0px;
            height: 3px;
            transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
            background: #014898;
        }

        .titleEffect:hover:after {
            width: 100%;
        }

        /************************* Grid **************************/
        .data-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .boxDesc{
            border: 2px solid grey;
            border-radius: 32px;
            box-shadow: 2px 2px 5px grey;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 30px;
        }

        .box{
            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
            padding: 20px;
        }
        .box:hover{
            box-shadow: 5px 5px 5px grey;
            text-shadow: 2px 2px 5px grey;
        }

        .titleData{
            font-size: 30px;
        }

        .data{
            padding: 50px;
            font-size: 35px;
            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
        }

        /************ Description *************/
        .description{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 100px;
        }

        /********* Effect *********/
        @keyframes box{
            0%,
            100%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.3);
            }
        }

        /**** Effect for alerts when the threshold is exceeded ****/
        {% if temp > room.getType().getTempMax() or temp < room.getType().getTempMin() %}
        .Temp {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(1){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}
        {% if hum > room.getType().getHumMax() or hum < room.getType().getHumMin() %}
        .Hum {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(2){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}
        {% if co2 < room.getType().getCo2Min()  or co2 >= room.getType().getCo2Max() %}
        .C02 {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(3){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}

        .red{margin-top: 15px; background-color: #B51b1b; color: white; max-width: 250px}
        .blue{margin-top: 15px; background-color: #00489a;
            border-color: #00489a; color: white; max-width: 250px}

        .red:hover
        {
            background: #da0e0e;
        }

        .textSensor{
            position : relative;
            margin-top : 50px;
        }

        .line{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 30px;
            padding-top: 100px;
        }
        .item-line{
            align-self: auto;
        }

    </style>

    <div class="text_center">
        <br>
        <div class="title">
            <a class="titleEffect">{{ room.getName() }}</a>
        </div>
        <br>
        <br><br><br><br><br>
        <br>

        <div class="container">
            <div class="data-container">
                <!-- If the values of a sensor are NULL it is displayed in another way -->
                <div class="bg-white box">
                    <div class="titleData">Température</div>
                    {% if temp != "NULL"%}

                        <div class="Temp data">{{ temp }} °C</div>
                        Date de relevé : {{ dateT }}
                    {% else %}
                        <div class="bg-white data">Pas de<br>donnée</div>
                    {% endif %}
                </div>

                <div class="bg-white box">
                    <div class="titleData">Humidité</div>
                    {% if hum != "NULL"%}

                    <div class="Hum data">{{ hum }} %</div>
                    Date de relevé : {{ dateH }}
                    {% else %}
                        <div class="bg-white data">Pas de<br>donnée</div>
                    {% endif %}
                </div>
                <div class="bg-white box">
                    <div class="titleData">CO2</div>
                    {% if co2 != "NULL"%}

                    <div class="C02 data">{{ co2 }} PPM</div>
                    Date de relevé : {{ dateC }}
                    {% else %}
                        <div class="bg-white data">Pas de<br>donnée</div>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
    <div class = "container">
        <div class = "data-container">
            <div class="description">
                <div class="boxDesc bg-white">
                    <div class="descriptionRoom">
                        <br><br>
                        <!-- The description of the room -->
                        <ul><a style="border-bottom: 2px solid #014898;">La salle {{ room.getName() }}:</a>
                            <li> a une superficie de : {{ room.getRoomSize() }} m2</li>
                            <li> possède {{ room.getWindowsNumber() }} fenêtres,</li>
                            {% if room.getFloor()==1 %}
                                <li> est située au {{ room.getFloor() }}er étage </li>
                            {% else %}
                                <li> est située au {{ room.getFloor() }}ème étage </li>
                            {% endif %}

                            <li> est orientée au {{ room.getOrientationString() }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if temp > room.getType().getTempMax() or temp < room.getType().getTempMin() or hum > room.getType().getHumMax() or hum < room.getType().getHumMin() or co2 < room.getType().getCo2Min()  or co2 >= room.getType().getCo2Max() %}
                <div class = "description boxDesc bg-white">
                    <div class="descriptionRoom">
                        <br><br>
                            <!-- Typical advice if there is a problem -->
                            <p class ="font-weight-bold h5" style="border-bottom: 2px solid #014898; color : #B51b1b;">Conseil</p>
                            <p>{{ conseil.conseil }}</p>
                            <p>{{ conseil.getNoData() }}</p>
                            {% if conseil.getNoData() %}
                                <p>Un des capteurs est peut-être hors service</p>
                            {% endif %}
                            {% if conseil.getCo2AlerteInf() %}
                                <p>Il semblerait que le capteur est défaillant, veuillez alerter le service technique ou un supérieur</p>
                            {% endif %}
                    </div>
                </div>
            {% endif %}
            
            <div class="description">
                <div class="boxDesc bg-white">
                    <div class="textSensor">
                        <!-- Display of thresholds -->
                        <ul>Des conseils vous seront donnés si :
                            <li> < {{ room.getType().getTempMin() }} °C ou > {{ room.getType().getTempMax() }} °C </li>
                            <li> < {{ room.getType().getHumMin() }} % ou > {{ room.getType().getHumMax() }}% d'humidité </li>
                            <li> < {{ room.getType().getCo2Min() }} PPM </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="line">
        <!-- access to data from other rooms quickly, for each floor -->
        {% for floor in allFloor %}
            <div class="item-line">
                {% if floor=="0" %}
                    <p style="margin-top: 20px;"> Rez-de-chaussée : </p>
                {% else %}
                    <p style="margin-top: 20px;"> Etage {{ floor }} : </p>
                {% endif %}
                {% for room in allRoom %}
                    {% if (room.isIsStock() != 1) and (room.floor == floor) %}
                        {% if (room.getTempAlert.isAlert == true or room.getCo2Alert.isAlert==true or room.getHumAlert.isAlert==true) %}
                            <a class="btn red btn-danger" href="{{ room.id }}" role="button">{{ room.name }}</a>
                        {% else %}
                            <a class="btn blue btn-primary" href="{{ room.id }}" role="button">{{ room.name }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}