{% extends 'basewithnavbar.html.twig' %}

{% block title %}Données d'une salle{% endblock %}

{% block body %}
    <style>
        /*.example-wrapper { text-align: center; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/

        .body{
            height: 100%;
            font-family: arial;
            text-align: center;
        }

        .title
        {
            position:absolute;
            text-align:center;
            width:100%;
            font-size: 40px;
        }

        .titleEffect {
            position: relative;
            color: black;
            text-decoration: none;
        }

        .titleEffect:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0%;
            left: 0px;
            height: 3px;
            transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
            background: #014898;
        }

        .titleEffect:hover:after {
            width: 100%;
        }
        /************************* TITRE **************************/

        .salle {
            margin-top: 100px;
            margin-left: 45%;
            transform: translateY(-50%);
            width: 200px;
        }

        .shape {
            stroke-dasharray: 140 540;
            stroke-dashoffset: -474;
            stroke-width: 8px;
            fill: transparent;
            stroke: #014898;
            transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
        }
        .text {
            display: block;
            line-height: 32px;
            letter-spacing: 7px;
            top: -47px; /* Monter le text dans le rectangle plus haut */
            position: relative;
            text-align: center;
            font-size: 50px;
            justify-content: center;
        }

        .textSensor{
            position : relative;
            margin-top : 50px;
        }

        .salle:hover .shape {
            stroke-width: 4px; /* Epaisseur du contour plus fine que avant */
            stroke-dashoffset: 0;
            stroke-dasharray: 800;
        }

        /************************* GRILLE **************************/
        .data-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; /* Espacé sans être collé aux bords */
            /*margin: 100px;*/
        }

        .boxDesc{
            border: 2px solid grey;
            border-radius: 32px;
            box-shadow: 2px 2px 5px grey;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 30px;
        }

        .box{
            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
            padding: 20px;
        }
        .box:hover{
            /*color: #014898;*/
            /*font-size: 25px;*/
            box-shadow: 5px 5px 5px grey;
            text-shadow: 2px 2px 5px grey;
        }

        .titreDonnee{
            font-size: 30px;
            /*padding: 10px;*/
        }

        .donnee{
            padding: 50px;
            font-size: 35px;
            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
        }

        /****** BOUTONS ALERTE ******/

        .boutonAlerte{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 50px;
        }

        .boxBouton {
            width: 250px;
        }

        /*************************/
        .description{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 100px;
        }
        .titrePage{
            position: relative;
            text-align: center;
            font-size: 25px;
        }

        /********* EFFET *********/

        @keyframes box{
            0%,
            100%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.3);
            }
        }

        .ligne{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 30px;
            padding-top: 100px;
        }
        .item-ligne{
            align-self: auto;
        }


        {% if temp > room.getType().getTempMax() or temp < room.getType().getTempMin() %}
        .Temp {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(1){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}
        {% if hum > room.getType().getHumMax() or hum < room.getType().getHumMin() %}
        .Hum {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(2){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}
        {% if co2 < room.getType().getCo2Min()  or co2 >= room.getType().getCo2Max() %}
        .C02 {color: white; border: 1px solid black; background-color: #B51b1b;}
        .box:nth-child(3){
            transform: scale(1);
            animation: box 1s linear infinite;
        }
        {% endif %}

        .red{margin-top: 15px; background-color: #B51b1b; color: white; max-width: 250px}
        .blue{margin-top: 15px; background-color: #00489a;
            border-color: #00489a; color: white; max-width: 250px}

        .red:hover
        {
            background: #da0e0e;
        }

    </style>


    <div class="body">
        <br>
        <div class="title">
            <a class="titleEffect">{{ room.getName() }}</a>
        </div>
        <br>
        <br><br><br><br><br>
        <br>

        <!--<div class="salle">
            <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
              <rect class="shape" height="60" width="200" />
                <div class="text">{{ room.getName() }}</div>
            </svg>
        </div>-->

        <div class="container">
            <div class="data-container">

                <div class="box">
                    <div class="titreDonnee">Température</div>
                    {% if temp != "NULL"%}

                        <div class="Temp donnee">{{ temp }} °C</div>
                        Date de relevé : {{ dateT }}
                    {% else %}
                        <div class="Temp donnee">Pas de<br>donnée</div>
                    {% endif %}
                </div>

                <div class="box">
                    <div class="titreDonnee">Humidité</div>
                    {% if hum != "NULL"%}

                    <div class="Hum donnee">{{ hum }} %</div>
                    Date de relevé : {{ dateH }}
                    {% else %}
                        <div class="Temp donnee">Pas de<br>donnée</div>
                    {% endif %}
                </div>
                <div class="box">
                    <div class="titreDonnee">CO2</div>
                    {% if co2 != "NULL"%}

                    <div class="C02 donnee">{{ co2 }} PPM</div>
                    Date de relevé : {{ dateC }}
                    {% else %}
                        <div class="Temp donnee">Pas de<br>donnée</div>
                    {% endif %}
                </div>
            </div>

            <div class="boutonAlerte">
                <div class="boxBouton">
                    {% if temp > room.getType().getTempMax() or temp < room.getType().getTempMin() and temp != "NULL" %}
                        {% if temp != "NULL" %}
                            <a class="btn red btn-lg" href="/salle/alerte/{{room.id}}/1 " role="button">Afficher les indications</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="boxBouton">
                    {% if hum > room.getType().getHumMax() or hum < room.getType().getHumMin()%}
                        {% if hum != "NULL" %}
                            <a class="btn red btn-lg" href="/salle/alerte/{{room.id}}/2" role="button">Afficher les indications</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="boxBouton">
                    {% if co2 >= room.getType().getCo2Max() or co2 < room.getType().getCo2Min() %}
                        {% if co2 != "NULL" %}
                            <a class="btn red btn-lg" href="/salle/alerte/{{room.id}}/3" role="button" >Afficher les indications</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class = "data-container">
            <div class="description">
                <div class="boxDesc">
                    <div class="descriptionRoom">
                        <br><br>
                        <ul><a style="border-bottom: 2px solid #014898;">La salle {{ room.getName() }}:</a>
                            <li> a une superficie de : {{ room.getRoomSize() }} m2</li>
                            <li> possède {{ room.getWindowsNumber() }} fenêtres,</li>
                            {% if room.getFloor()==1 %}
                                <li> est située au {{ room.getFloor() }}er étage </li>
                            {% else %}
                                <li> est située au {{ room.getFloor() }}ème étage </li>
                            {% endif %}

                            <li> est orientée au {{ room.getOrientationString() }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="boxDesc">
                    <div class="textSensor">
                        <ul>Des conseils vous seront donnés si :
                            <li>- {{ room.getType().getTempMin() }} °C / + {{ room.getType().getTempMax() }} °C </li>
                            <li>-{{ room.getType().getHumMin() }} % / + {{ room.getType().getHumMax() }}% d'humidité </li>
                            <li>- {{ room.getType().getCo2Min() }} PPM / +{{ room.getType().getCo2Max() }}PPM </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="ligne">
        {% for floor in allFloor %}
            <div class="item-ligne">
                <p> Etage {{ floor }} : </p>
                {% for room in allRoom %}
                    {% if (room.isIsStock() != 1) and (room.floor == floor) %}
                        {% if (room.getTempAlert.isAlert == true or room.getCo2Alert.isAlert==true or room.getHumAlert.isAlert==true) %}
                            <a class="btn red btn-danger" href="{{ room.id }}" role="button">{{ room.name }}</a>
                        {% else %}
                            <a class="btn blue btn-primary" href="{{ room.id }}" role="button">{{ room.name }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}