{% extends 'basewithnavbar.html.twig' %}

{% block body %}

    <style>

        h1{
            font-family: sans-serif;
            font-size: 40px;
            margin: 40px;
        }

        .graph{
            display: flex;
            flex-direction:column;
            justify-content: center ;
            align-items:center ;
            height: 500px;
            width :1000px
        }

        .btGraph
        {
            display: flex;
            justify-content: center;
            margin: 40px 10px;
        }

        .btn {
            margin: 20px;
            color: #fff;
            background-color: #00489a;
            border-color: #00489a;
            text-decoration: none;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

    </style>
    <div class="container">

        <div class="graph" id="canvasWrapper" style=" ">

            <h1>{{ room.getName() }}</h1>

            <canvas id="ChartHum" width="2000" height="200"></canvas>
            <canvas id="ChartCo2" width="2000" height="200"></canvas>
            <canvas id="ChartTemp" width="2000" height="200"></canvas>

            <!--<button onclick="showChartData('jour')"> Jour</button>
            <button onclick="showChartData('semaine')"> Semaine</button>
            <button onclick="showChartData('mois')"> Année</button>-->

            <!-- % for date in dateT %} { date.dateCapture }} % endfor %} -->
            <div class="btGraph">
                <a class="btn btn-primary blue" onclick="showChartData('jour')">Jour</a>
                <a class="btn btn-primary blue" onclick="showChartData('semaine')">Semaine</a>
                <a class="btn btn-primary blue" onclick="showChartData('annee')">Année</a>
            </div>
        </div>

    </div>



    <!-- Script pour créer le graphique -->
    <script>

        // Récupération du canvas
        var ctxTemp = document.getElementById('ChartTemp').getContext('2d');

        // Données du graphique
        var dataTemp = {
            //labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet','Aout','Septembre','Novembre','Octobre','Decembre'],
            datasets: [{
                label: 'Temperature 12 derniere mois',
                data: {{dataTemp}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        };

        // Options du graphique
        var optionsTemp = {
            scales: {
                y: {
                    suggestedMax:40,
                    ticks: {
                        beginAtZero: true,
                        font:{
                            size:18
                        }
                    }
                },

                x: {
                    ticks:{
                        font:{
                            size:18
                        }
                    },
                    type: 'time',
                }
            }
        };

        // -------------------------------- Chart Humidite ---------------------------- //



        // Récupération du canvas
        var ctxHum = document.getElementById('ChartHum').getContext('2d');

        // Données du graphique
        var dataHum = {
            labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet','Aout','Septembre','Novembre','Octobre','Decembre'],
            datasets: [{
                label: 'Humidite 12 derniere mois',
                    data: {{ dataHum }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        };

        // Options du graphique
        var optionsHum = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        };

        // -------------------------------- Chart Co2 ---------------------------- //

        // Récupération du canvas
        var ctxCo2 = document.getElementById('ChartCo2').getContext('2d');

        // Données du graphique
        var dataCo2 = {
            labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet','Aout','Septembre','Novembre','Octobre','Decembre'],
            datasets: [{
                label: 'Co2 12 derniere mois',
                data: {{ dataCo2 }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        };

        // Options du graphique
        var optionsCo2 = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]

            }
        };

        // Création du graphique

        var myChartCo2 = new Chart(ctxCo2, {
            type: 'line',
            data: dataCo2,
            options: optionsCo2
        });

        var myChartHum = new Chart(ctxTemp, {
            type: 'line',
            data: dataHum,
            options: optionsHum
        });

        var myChartTemp = new Chart(ctxHum, {
            type: 'line',
            data: dataTemp,
            options: optionsTemp
        });

        var inputTemp = [{{ dataDayTemp | raw }}]

        var dataDayTempx = inputTemp.map(function(item) {
            return item.x});

        var dataDayTempy = inputTemp.map(function(item) {
            return item.y});

        var inputHum = [{{ dataDayHum | raw }}]

        var dataDayHumx = inputHum.map(function(item) {
            return item.x});

        var dataDayHumy = inputHum.map(function(item) {
            return item.y});

        var inputCo2= [{{ dataDayCo2 | raw }}]

        var dataDayCo2x = inputCo2.map(function(item) {
            return item.x});

        var dataDayCo2y = inputCo2.map(function(item) {
            return item.y});


        function showChartData(type){

            const jourLabels=["1","2","3","4","5","6","7","8","9","10","11","12"];
            const semaineLabels=["Lundi","Mardi","Mercredi","Jeudi","Vendredi","Samedi","Dimanche"];
            const anneeLabels=['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet','Aout','Septembre','Novembre','Octobre','Decembre'];
                                //Utils.months({count: 12})

            const jourTemp = dataDayTempy;
            const jourHum = dataDayHumy;
            const jourCo2 = dataDayCo2y;
            const semaine = [10,20,30,40,50,60,70];
            const anneeTemp = {{dataTemp}};
            const anneeHum = {{ dataHum }};
            const anneeCo2 = {{ dataCo2 }};


            if(type === 'jour') {
                myChartTemp.data.datasets[0].data = jourTemp;
                myChartTemp.data.labels = dataDayTempx;
                myChartTemp.data.datasets[0].label = 'Temperature 12 dernieres heures '
                myChartTemp.update();

                myChartHum.data.datasets[0].data = jourHum;
                myChartHum.data.labels = dataDayHumx;
                myChartHum.data.datasets[0].label = 'Humidité 12 dernieres heures '
                myChartHum.update();

                myChartCo2.data.datasets[0].data = jourCo2;
                myChartCo2.data.labels = dataDayCo2x;
                myChartCo2.data.datasets[0].label = 'Co2 12 dernieres heures '
                myChartCo2.update();
            }

            if(type === 'semaine') {
                myChartTemp.data.datasets[0].data = semaine;
                myChartTemp.data.labels = semaineLabels;
                myChartTemp.data.datasets[0].label = 'Temperature 7 derniers jours '
                myChartTemp.update();

                myChartHum.data.datasets[0].data = semaine;
                myChartHum.data.labels = semaineLabels;
                myChartHum.data.datasets[0].label = 'Humidite 7 derniers jours '
                myChartHum.update();

                myChartCo2.data.datasets[0].data = semaine;
                myChartCo2.data.labels = semaineLabels;
                myChartCo2.data.datasets[0].label = 'Co2 7 derniers jours '
                myChartCo2.update();
            }

            if(type === 'annee') {
                myChartTemp.data.datasets[0].data = anneeTemp;
                myChartTemp.data.labels = anneeLabels;
                myChartTemp.data.datasets[0].label = 'Temperature 12 derniere mois '
                myChartTemp.update();

                myChartHum.data.datasets[0].data = anneeHum;
                myChartHum.data.labels = anneeLabels;
                myChartHum.data.datasets[0].label = 'Humidite 12 derniere mois '
                myChartHum.update();

                myChartCo2.data.datasets[0].data = anneeCo2;
                myChartCo2.data.labels = anneeLabels;
                myChartCo2.data.datasets[0].label = 'Co2 12 derniere mois '
                myChartCo2.update();
            }
        }



    </script>







{% endblock %}

