{% extends 'basewithnavbar.html.twig' %}

{% block body %}

    <style>
        body{
            background-color: #f7f9fa;
        }

        .container { text-align: center; }

        h1{
            font-family: sans-serif;
            font-size: 40px;
            margin: 40px;
        }

        .btGraph
        {
            display: flex;
            justify-content: center;
            margin: 40px 10px;
        }

        .btn {
            color: #fff;
            background-color: #00489a;
            border-color: #00489a;

        }

        .marginbtn{
            margin-left: 15px;
        }

        .line{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 30px;
            padding-top: 70px;
        }

        .item-line{
            align-self: auto;
        }

    </style>
    <div class="container">

        <div class="graph" id="canvasWrapper" style=" ">

            <h1>{{ room.getName() }}</h1>
            <h2>Données du mois {{mois_choisi}} de l'année {{annee_choisi}}</h2>

            <canvas id="ChartHum" width="3000" height="500"></canvas>
            <canvas id="ChartCo2" width="3000" height="500"></canvas>
            <canvas id="ChartTemp" width="3000" height="500"></canvas>


            <div class="btGraph">

                <div class="btn-group">
                    <a class="btn btn-primary blue marginbtn" onclick="showChartData('annee')">Année</a>

                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        {% for i in 0..4 %}
                            <a class="dropdown-item" href="/admin/suivi/graphique/{{ room.getId() }}/{{ year -i }}">{{ year -i }}</a>
                        {% endfor %}

                    </div>
                </div>

                <div class="btn-group">
                    <a class="btn btn-primary blue marginbtn" onclick="showChartData('mois')">Mois</a>

                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        {% for i in 1..12 %}
                            <a class="dropdown-item" href="/admin/suivi/graphique/{{ room.getId() }}/{{ annee_choisi }}/{{ i }}">{{ i }}</a>
                        {% endfor %}
                    </div>
                </div>


                <div class="btn-group">
                <a class="btn btn-primary blue marginbtn">Jour</a>
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">

                        {% if mois_choisi == mois %}

                            {% for i in 1..nb_jours-nb_jours_valide %}
                                <a class="dropdown-item" href="/admin/suivi/graphique/{{ room.getId() }}/{{ annee_choisi }}/{{ mois_choisi }}/{{ i }}">{{  i }}</a>
                            {% endfor %}

                        {% else %}

                            {% for i in 1..nb_jours %}
                                <a class="dropdown-item" href="/admin/suivi/graphique/{{ room.getId() }}/{{ annee_choisi }}/{{ mois_choisi }}/{{ i }}">{{  i }}</a>
                            {% endfor %}

                        {% endif %}

                    </div>
                </div>

                <a class="btn btn-primary blue" onclick="showSeuilMax()">Seuil Max</a>

                <a class="btn btn-primary blue" onclick="showSeuilMin()">Seuil Min</a>

            </div>
        </div>
        <div class="line">
            <!-- Access to data from other rooms quickly, for each floor -->
            {% for floor in allFloor %}
                <div class="item-line">
                    {% if floor=="0" %}
                        <p style="margin-top: 20px;"> Rez-de-chaussée : </p>
                    {% else %}
                        <p style="margin-top: 20px;"> Etage {{ floor }} : </p>
                    {% endif %}
                    {% for room in allRoom %}
                        {% if (room.isIsStock() != 1) and (room.floor == floor) %}
                            {% if (room.isAlert == true ) %}
                                <a class="btn red btn-danger" href="/admin/suivi/graphique/{{ room.id }}/{{annee_choisi}}/{{mois_choisi}}" role="button">{{ room.name }}</a>
                            {% else %}
                                <a class="btn blue btn-primary" href="/admin/suivi/graphique/{{ room.id }}/{{annee_choisi}}/{{mois_choisi}}" role="button">{{ room.name }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>





    <!-- Script pour créer le graphique -->
    <script>

        // Récupération du canvas
        var ctxTemp = document.getElementById('ChartTemp').getContext('2d');

        var labelsMonth = [];
        const dataSeuil = [];
        const labelSeuil = "Seuil ";
        let seuilMin = true;
        let seuilMax = true;

        for(let i=1; i<= {{ nb_jours }};i++){

            labelsMonth.push(i.toString());
        }

        // Données du graphique
        var dataTemp = {
            labels: labelsMonth,
            datasets: [{
                label: 'Temperature du mois ' + {{mois_choisi}} + ' de l\'année ' + {{annee_choisi}},
                data: {{moyMonthTemp}},
                backgroundColor: [
                    'rgba(229, 13, 236, 0.5)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',

                ],
                borderWidth: 1
            },
                {
                    label: labelSeuil,
                    data: dataSeuil,
                    fill:false,
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1,
                pointRadius :0
            },
                {
                    label: labelSeuil,
                    data: dataSeuil,
                    fill:true,
                    borderColor: [
                        'rgb(75, 192, 192)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                }]
        };

        // Options du graphique
        var optionsTemp = {
            scales: {
                y: {
                    suggestedMax:40,
                    ticks: {
                        beginAtZero: true,
                        font:{
                            size:18
                        }
                    }
                },

                x: {
                    ticks:{
                        font:{
                            size:18
                        }
                    },
                    type: 'time',
                }
            }
        };

        // -------------------------------- Chart Humidite ---------------------------- //



        // Récupération du canvas
        var ctxHum = document.getElementById('ChartHum').getContext('2d');

        // Données du graphique
        var dataHum = {
            labels: labelsMonth,
            datasets: [{
                label: 'Humidite du mois ' + {{mois_choisi}} + ' de l\'année ' + {{annee_choisi}},
                data: {{ moyMonthHum }},
                backgroundColor: [
                    'rgba(229, 13, 236, 0.5)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1
            },
                {
                    label:labelSeuil,
                    data: dataSeuil,
                    fill:false,
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                },
                {
                    label: labelSeuil,
                    data: dataSeuil,
                    fill:true,
                    borderColor: [
                        'rgb(75, 192, 192)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                }]
        };

        // Options du graphique
        var optionsHum = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        };

        // -------------------------------- Chart Co2 ---------------------------- //

        // Récupération du canvas
        var ctxCo2 = document.getElementById('ChartCo2').getContext('2d');

        // Données du graphique
        var dataCo2 = {
            labels: labelsMonth,
            datasets: [ {
                label: 'Co2 du mois ' + {{mois_choisi}} + ' de l\'année ' + {{annee_choisi}},
                data: {{ moyMonthCo2 }},
                backgroundColor: [
                    'rgba(229, 13, 236, 0.5)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1,
            },
                {
                    label:labelSeuil,
                    data: dataSeuil,
                    fill:false,
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                },
                {
                    label: labelSeuil,
                    data: dataSeuil,
                    fill:true,
                    borderColor: [
                        'rgb(75, 192, 192)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                }]
        };

        // Options du graphique
        var optionsCo2 = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]

            }
        };

        // Création du graphique

        var myChartCo2 = new Chart(ctxCo2, {
            type: 'line',
            data: dataCo2,
            options: optionsCo2
        });

        var myChartHum = new Chart(ctxTemp, {
            type: 'line',
            data: dataHum,
            options: optionsHum
        });

        var myChartTemp = new Chart(ctxHum, {
            type: 'line',
            data: dataTemp,
            options: optionsTemp
        });



        function showChartData(type){

            const anneeLabels=['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet','Aout','Septembre','Novembre','Octobre','Decembre'];
            const moisLabels=labelsMonth;

            const anneeTemp = {{moyYearTemp}};
            const anneeHum = {{ moyYearHum }};
            const anneeCo2 = {{ moyYearCo2 }};

            const moisTemp = {{ moyMonthTemp }};
            const moisHum = {{ moyMonthHum }};
            const moisCo2 = {{ moyMonthCo2 }};

            var seuilTemp = [];

            for(let i=1;i<= {{ nb_jours }};i++){

                seuilTemp.push(21);
            }



            if(type === 'annee') {
                myChartTemp.data.datasets[0].data = anneeTemp;
                myChartTemp.data.labels = anneeLabels;
                myChartTemp.data.datasets[0].label = 'Temperature de l\'année ' + {{ annee_choisi}}
                    myChartTemp.update();

                myChartHum.data.datasets[0].data = anneeHum;
                myChartHum.data.labels = anneeLabels;
                myChartHum.data.datasets[0].label = 'Humidite de l\'année ' + {{ annee_choisi}}
                    myChartHum.update();

                myChartCo2.data.datasets[0].data = anneeCo2;
                myChartCo2.data.labels = anneeLabels;
                myChartCo2.data.datasets[0].label = 'Co2 de l\'année ' + {{ annee_choisi}}
                myChartCo2.update();

            }

            if(type === 'mois'){

                myChartTemp.data.datasets[0].data = moisTemp;
                myChartTemp.data.labels = moisLabels;
                myChartTemp.data.datasets[0].label = 'Temperature du mois ' + {{mois_choisi}} + ' de l\'année ' + {{annee_choisi}}
                myChartTemp.update();

                myChartHum.data.datasets[0].data = moisHum;
                myChartHum.data.labels = moisLabels;
                myChartHum.data.datasets[0].label = 'Humidite du mois ' + {{mois_choisi}} + ' de l\'année ' + {{annee_choisi}}
                myChartHum.update();

                myChartCo2.data.datasets[0].data = moisCo2;
                myChartCo2.data.labels = moisLabels;
                myChartCo2.data.datasets[0].label = 'Co2 du mois ' + {{mois_choisi}} + ' de l\'année ' + {{annee_choisi}}
                myChartCo2.update();

            }

        }

        function showSeuilMax(){

            var seuilTemp = [];
            var seuilHum = [];
            var seuilCo2 = [];

            for(let i=1;i< {{ nb_jours+1 }};i++){

                seuilTemp.push({{ tempMax }});
                seuilHum.push({{ humMax }});
                seuilCo2.push({{ co2Max }});
            }

            if(seuilMax){

                myChartTemp.data.datasets[1].data = seuilTemp;
                myChartTemp.data.labels = labelsMonth;
                myChartTemp.data.datasets[1].label = "Seuil de Température maximum 21°C";
                myChartTemp.update();

                myChartHum.data.datasets[1].data = seuilHum;
                myChartHum.data.labels = labelsMonth;
                myChartHum.data.datasets[1].label="Seuil d'Humidité maximum 60%";
                myChartHum.update();

                myChartCo2.data.datasets[1].data = seuilCo2;
                myChartCo2.data.labels = labelsMonth;
                myChartCo2.data.datasets[1].label="Seuil de Co2 maximum 800 ppm";
                myChartCo2.update();

                seuilMax=false;

            }

            else{

                myChartTemp.data.datasets[1].data = dataSeuil;
                myChartTemp.data.labels = labelsMonth;
                myChartTemp.data.datasets[1].label = labelSeuil;
                myChartTemp.update();

                myChartHum.data.datasets[1].data = dataSeuil;
                myChartHum.data.labels = labelsMonth;
                myChartHum.data.datasets[1].label=labelSeuil;
                myChartHum.update();

                myChartCo2.data.datasets[1].data = dataSeuil;
                myChartCo2.data.labels = labelsMonth;
                myChartCo2.data.datasets[1].label =labelSeuil;
                myChartCo2.update();

                seuilMax=true;

            }
        }

        function showSeuilMin(){

            var seuilTemp = [];
            var seuilHum = [];
            var seuilCo2 = [];

            for(let i=1;i< {{ nb_jours+1 }};i++){

                seuilTemp.push({{ tempMin }});
                seuilHum.push({{ humMin }});
                seuilCo2.push({{ co2Min }});
            }

            if(seuilMin){

                myChartTemp.data.datasets[2].data = seuilTemp;
                myChartTemp.data.labels = labelsMonth;
                myChartTemp.data.datasets[2].label = "Seuil de Température minimum 19°C";
                myChartTemp.update();

                myChartHum.data.datasets[2].data = seuilHum;
                myChartHum.data.labels = labelsMonth;
                myChartHum.data.datasets[2].label="Seuil d'Humidité minimum 40%";
                myChartHum.update();

                myChartCo2.data.datasets[2].data = seuilCo2;
                myChartCo2.data.labels = labelsMonth;
                myChartCo2.data.datasets[2].label ="Seuil de Co2 minimum 400 ppm";
                myChartCo2.update();

                seuilMin=false;

            }

            else{

                myChartTemp.data.datasets[2].data = dataSeuil;
                myChartTemp.data.labels = labelsMonth;
                myChartTemp.data.datasets[2].label = labelSeuil;
                myChartTemp.update();

                myChartHum.data.datasets[2].data = dataSeuil;
                myChartHum.data.labels = labelsMonth;
                myChartHum.data.datasets[2].label=labelSeuil;
                myChartHum.update();

                myChartCo2.data.datasets[2].data = dataSeuil;
                myChartCo2.data.labels = labelsMonth;
                myChartCo2.data.datasets[2].label =labelSeuil;
                myChartCo2.update();

                seuilMin=true;

            }
        }

    </script>


{% endblock %}

