{% extends 'basewithnavbar.html.twig' %}

{% block body %}

    <style>
        body{
            background-color: #f7f9fa;
        }

        .container { text-align: center; }

        h1{
            font-family: sans-serif;
            font-size: 40px;
            margin: 40px;
        }

        .btGraph
        {
            justify-content: center;
            margin: 40px 10px;
        }

        .btn {
            color: #fff;
            background-color: #00489a;
            border-color: #00489a;
        }

        .marginbtn{
            margin-left: 15px;
        }

        .line{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 30px;
            padding-top: 50px;
        }

        .item-line{
            align-self: auto;
        }
    </style>
    <div class="container">

        <div class="graph" id="canvasWrapper" style=" ">

            <h1>{{ room.getName() }}</h1>
            <h2>Données actuelle</h2>

            <canvas id="ChartHum" width="3000" height="500"></canvas>
            <canvas id="ChartCo2" width="3000" height="500"></canvas>
            <canvas id="ChartTemp" width="3000" height="500"></canvas>


            <div class="btGraph">

                <div class="btn-group">
                    <a class="btn btn-primary blue marginbtn" onclick="showChartData('annee')">Année</a>

                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        {% for i in 0..4 %}
                            <a class="dropdown-item" href="/admin/suivi/graphique/{{ room.getId() }}/{{ year-i }}">{{ year -i }}</a>
                        {% endfor %}

                    </div>
                </div>

                <div class="btn-group">
                    <a class="btn btn-primary blue marginbtn" onclick="showChartData('mois')">Mois</a>

                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"></a>

                    </div>
                </div>

                <div class="btn-group">
                <a class="btn btn-primary blue marginbtn" onclick="showChartData('jour')">Jour</a>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"></a>
                    </div>
                </div>

                <a class="btn btn-primary blue marginbtn" onclick="showSeuilMax()">Seuil Max</a>

                <a class="btn btn-primary blue marginbtn" onclick="showSeuilMin()">Seuil Min</a>

                <br><br><br>
                <div>
                    Appuyer sur "Année" pour voir les données de cette année, "Mois" pour voir le mois actuel et "Jour" pour voir les données d'aujourd'hui
                    <br>Choisissez séparément l'année, le mois ou le jour durant lequel vous souhaiter voir les données
                    <br> Cliquer sur un bouton "Année", "Mois" ou "Jour" pour utiliser les seuils
                </div>


            </div>
        </div>
        <div class="line">
            <!-- Access to data from other rooms quickly, for each floor -->
            {% for floor in allFloor %}
                <div class="item-line">
                    {% if floor=="0" %}
                        <p style="margin-top: 20px;"> Rez-de-chaussée : </p>
                    {% else %}
                        <p style="margin-top: 20px;"> Etage {{ floor }} : </p>
                    {% endif %}
                    {% for room in allRoom %}
                        {% if (room.isIsStock() != 1) and (room.floor == floor) %}
                            {% if (room.isAlert == true ) %}
                                <a class="btn red btn-danger" href="{{ room.id }}" role="button">{{ room.name }}</a>
                            {% else %}
                                <a class="btn blue btn-primary" href="{{ room.id }}" role="button">{{ room.name }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>





    <!-- Script pour créer le graphique -->
    <script>

        // Initialisations des donneés

        var inputTemp = [{{ dataDayTemp |join(', ') | raw }}]

        var dataDayTempx = inputTemp.map(function(item) {
            return item.x});

        var dataDayTempy = inputTemp.map(function(item) {
            return item.y});

        var inputHum = [{{ dataDayHum |join(', ')  | raw }}]

        var dataDayHumx = inputHum.map(function(item) {
            return item.x});

        var dataDayHumy = inputHum.map(function(item) {
            return item.y});

        var inputCo2= [{{ dataDayCo2 |join(', ')  | raw }}]

        var dataDayCo2x = inputCo2.map(function(item) {
            return item.x});

        var dataDayCo2y = inputCo2.map(function(item) {
            return item.y});

        // Récupération du canvas
        var ctxTemp = document.getElementById('ChartTemp').getContext('2d');
        var labelsYear = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet','Aout','Septembre','Novembre','Octobre','Decembre'];
        var labelsMonth = [];
        const dataSeuil = [];
        const labelSeuil = "Seuil ";
        let seuilMin = true;
        let seuilMax = true;

        let monthcliked =false;
        let yearclicked =false;
        let dayclicked = false;

        for(let i=1; i<= {{ nb_jours }};i++){       //Peuple le labels mois

            labelsMonth.push(i.toString());
        }

        // Données du graphique
        var dataTemp = {
            labels: labelsYear,
            datasets: [{
                label: 'Temperature de l\'année',
                data: {{moyYearTemp}},
                backgroundColor: [
                    'rgba(229, 13, 236, 0.1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',

                ],
                borderWidth: 1
            },
                {
                    label: labelSeuil,
                    data: dataSeuil,
                    fill:false,
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                },
                {
                    label: labelSeuil,
                    data: dataSeuil,
                    fill:true,
                    borderColor: [
                        'rgb(75, 192, 192)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                }]
        };

        // Options du graphique
        var optionsTemp = {
            scales: {
                y: {
                    suggestedMax:40,
                    ticks: {
                        beginAtZero: true,
                        font:{
                            size:18
                        }
                    }
                },

                x: {
                    ticks:{
                        font:{
                            size:18
                        }
                    },
                    type: 'time',
                }
            }
        };

        // -------------------------------- Chart Humidite ---------------------------- //



        // Récupération du canvas
        var ctxHum = document.getElementById('ChartHum').getContext('2d');

        // Données du graphique
        var dataHum = {
            labels: labelsYear,
            datasets: [{
                label: 'Humidite de l\'année',
                    data: {{ moyYearHum }},
                backgroundColor: [
                    'rgba(229, 13, 236, 0.1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1
            },
                {
                    label:labelSeuil,
                    data: dataSeuil,
                    fill:false,
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                },
                {
                    label: labelSeuil,
                    data: dataSeuil,
                    fill:true,
                    borderColor: [
                        'rgb(75, 192, 192)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                }]
        };

        // Options du graphique
        var optionsHum = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        };

        // -------------------------------- Chart Co2 ---------------------------- //

        // Récupération du canvas
        var ctxCo2 = document.getElementById('ChartCo2').getContext('2d');

        // Données du graphique
        var dataCo2 = {
            labels: labelsYear,
            datasets: [{
                label: 'Co2 de l\'année',
                data: {{ moyYearCo2 }},
                backgroundColor: [
                    'rgba(229, 13, 236, 0.1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1,
            },
                {
                    label:labelSeuil,
                    data: dataSeuil,
                    fill:false,
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                },
                {
                    label: labelSeuil,
                    data: dataSeuil,
                    fill:true,
                    borderColor: [
                        'rgb(75, 192, 192)',
                    ],
                    borderWidth: 1,
                    pointRadius :0
                }]
        };

        // Options du graphique
        var optionsCo2 = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]

            }
        };

        // Création du graphique

        var myChartCo2 = new Chart(ctxCo2, {
            type: 'line',
            data: dataCo2,
            options: optionsCo2
        });

        var myChartHum = new Chart(ctxTemp, {
            type: 'line',
            data: dataHum,
            options: optionsHum
        });

        var myChartTemp = new Chart(ctxHum, {
            type: 'line',
            data: dataTemp,
            options: optionsTemp
        });


        function chartUpdate(index,dataTemp,dataHum,dataCo2,labels,stringLabelTemp,stringLabelHum,stringLabelCo2){  // Utile pour mettre à jour les graphiques

            myChartTemp.data.datasets[index].data = dataTemp;
            myChartTemp.data.labels = labels;
            myChartTemp.data.datasets[index].label = stringLabelTemp
            myChartTemp.update();

            myChartHum.data.datasets[index].data = dataHum;
            myChartHum.data.labels = labels;
            myChartHum.data.datasets[index].label = stringLabelHum
            myChartHum.update();

            myChartCo2.data.datasets[index].data = dataCo2;
            myChartCo2.data.labels = labels;
            myChartCo2.data.datasets[index].label = stringLabelCo2
            myChartCo2.update();
        }

        function showChartData(type){

        // Initialisation des datas
            const anneeLabels=labelsYear;
            const moisLabels=labelsMonth;

            const jourTemp = dataDayTempy;
            const jourHum = dataDayHumy;
            const jourCo2 = dataDayCo2y;
            const anneeTemp = {{moyYearTemp}};
            const anneeHum = {{ moyYearHum }};
            const anneeCo2 = {{ moyYearCo2 }};

            const moisTemp = {{ moyMonthTemp }};
            const moisHum = {{ moyMonthHum }};
            const moisCo2 = {{ moyMonthCo2 }};


            if(type === 'jour') {
                myChartTemp.data.datasets[0].data = jourTemp;
                myChartTemp.data.labels = dataDayTempx;
                myChartTemp.data.datasets[0].label = 'Temperature du '+ {{day }} + ' le mois ' + {{month}} + ' de l\'année ' + {{year}}
                    myChartTemp.update();

                myChartHum.data.datasets[0].data = jourHum;
                myChartHum.data.labels = dataDayHumx;
                myChartHum.data.datasets[0].label = 'Humidité du '+ {{day }} + ' le mois ' + {{month}} + ' de l\'année ' + {{year}}
                    myChartHum.update();

                myChartCo2.data.datasets[0].data = jourCo2;
                myChartCo2.data.labels = dataDayCo2x;
                myChartCo2.data.datasets[0].label = 'Co2 du '+ {{day }} + ' le mois ' + {{month}} + ' de l\'année ' + {{year}}
                    myChartCo2.update();

                yearclicked=false;
                monthcliked=false;
                dayclicked=true;
            }

            if(type === 'annee') {  // On peuple avec les datas associés a l'année

                chartUpdate(0,anneeTemp,anneeHum,anneeCo2,anneeLabels,'Temperature de l\'année ' + {{ year}},'Humidite de l\'année ' + {{ year}},'Co2 de l\'année ' + {{ year}});
                yearclicked=true;
                monthcliked=false;
                dayclicked=false;
            }

            if(type === 'mois'){ //au mois

                chartUpdate(0,moisTemp,moisHum,moisCo2,moisLabels,'Temperature du mois ' + {{month}} + ' de l\'année ' + {{year}},'Humidite du mois ' + {{month}} + ' de l\'année ' + {{year}},'Co2 du mois ' + {{month}} + ' de l\'année ' + {{year}});
                monthcliked=true;
                yearclicked=false;
                dayclicked=false;
            }

        }

        function showSeuilMax(){

            var seuilTemp = [];
            var seuilHum = [];
            var seuilCo2 = [];

            for(let i=1;i< dataDayCo2x.length+1;i++){       // on ajoute dans un tableau la temp,co2,hum max au nbr de capture

                seuilTemp.push({{ tempMax }});
                seuilHum.push({{ humMax }});
                seuilCo2.push({{ co2Max }});
            }
            // Multiple conditions pour afficher les bons seuils
            if(seuilMax && monthcliked && yearclicked===false && dayclicked===false){

                chartUpdate(1,seuilTemp,seuilHum,seuilCo2,labelsMonth,'Seuil de Température maximum {{ tempMax }}°C','Seuil d\'Humidité maximum {{ humMax }}%','Seuil de Co2 maximum{{ co2Max }} ppm');
                seuilMax=false;

            }

            else if (seuilMax===false && monthcliked){

                chartUpdate(1,dataSeuil,dataSeuil,dataSeuil,labelsMonth,labelSeuil,labelSeuil,labelSeuil);
                seuilMax=true;
                //monthcliked=false;

            }

            if(seuilMax && yearclicked && monthcliked===false && dayclicked===false) {
                chartUpdate(1,seuilTemp,seuilHum,seuilCo2,labelsYear,'Seuil de Température maximum {{ tempMax }}°C','Seuil d\'Humidité maximum {{ humMax }}%','Seuil de Co2 maximum{{ co2Max }} ppm');
                seuilMax=false;
            }

            else if(seuilMax===false && yearclicked){
                chartUpdate(1,dataSeuil,dataSeuil,dataSeuil,labelsYear,labelSeuil,labelSeuil,labelSeuil);
                seuilMax=true;
                //yearclicked=false;
            }

            if(seuilMax && dayclicked && monthcliked===false && yearclicked===false) {
                chartUpdate(1,seuilTemp,seuilHum,seuilCo2,dataDayCo2x,'Seuil de Température maximum {{ tempMax }}°C','Seuil d\'Humidité maximum {{ humMax }}%','Seuil de Co2 maximum{{ co2Max }} ppm')
                seuilMax=false;
            }

            else if(seuilMax===false && dayclicked){
                chartUpdate(1,dataSeuil,dataSeuil,dataSeuil,dataDayCo2x,labelSeuil,labelSeuil,labelSeuil);
                seuilMax=true;
            }
        }


        function showSeuilMin(){        // Similaire au Maximum

            var seuilTemp = [];
            var seuilHum = [];
            var seuilCo2 = [];

            for(let i=1;i<  dataDayCo2x.length+1 ;i++){

                seuilTemp.push({{ tempMin }});
                seuilHum.push({{ humMin }});
                seuilCo2.push({{ co2Min }});
            }

            if(seuilMin && monthcliked && yearclicked===false && dayclicked===false){

                chartUpdate(2,seuilTemp,seuilHum,seuilCo2,labelsMonth,'Seuil de Température maximum {{ tempMax }}°C','Seuil d\'Humidité maximum {{ humMax }}%','Seuil de Co2 maximum{{ co2Max }} ppm');
                seuilMin=false;

            }

            else if (seuilMin===false && monthcliked){

                chartUpdate(2,dataSeuil,dataSeuil,dataSeuil,labelsMonth,labelSeuil,labelSeuil,labelSeuil);
                seuilMin=true;


            }

            if(seuilMin && yearclicked && monthcliked===false && dayclicked===false) {
                chartUpdate(2,seuilTemp,seuilHum,seuilCo2,labelsYear,'Seuil de Température maximum {{ tempMax }}°C','Seuil d\'Humidité maximum {{ humMax }}%','Seuil de Co2 maximum{{ co2Max }} ppm');
                seuilMin=false;
            }

            else if(seuilMin===false && yearclicked){
                chartUpdate(2,dataSeuil,dataSeuil,dataSeuil,labelsYear,labelSeuil,labelSeuil,labelSeuil);
                seuilMin=true;

            }

            if(seuilMin && dayclicked && monthcliked===false && yearclicked===false) {
                chartUpdate(2,seuilTemp,seuilHum,seuilCo2,dataDayCo2x,'Seuil de Température maximum {{ tempMax }}°C','Seuil d\'Humidité maximum {{ humMax }}%','Seuil de Co2 maximum{{ co2Max }} ppm')
                seuilMin=false;
            }

            else if(seuilMin===false && dayclicked){
                chartUpdate(2,dataSeuil,dataSeuil,dataSeuil,dataDayCo2x,labelSeuil,labelSeuil,labelSeuil);
                seuilMin=true;
            }
        }

    </script>



{% endblock %}

