{% extends 'basewithnavbar.html.twig' %}
{% block title %}Inventaire des salles{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        /* BOUTONS */
        .btn {
            color: #fff;
            background-color: #00489a;
            border-color: #00489a;

            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        .table .thead-light th {
            color: #495057;
            background-color: #e9ecef;
            border-color: #dee2e6;
        }
        .table td, .table th {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            text-align: center;
        }
        .img {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: 0 0;
            width:35px;
            height:35px;
        }
        .update {
            background-image: url({{ asset('img/crayon_blanc.png') }});
        }
        .delete {
            background-image: url({{ asset('img/poubelle.png') }});
        }
        .red {
            color: #fff;
            background-color: #B51b1b;
            border: #B51b1b;
            text-decoration: none;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>

    <script>
        function searchTable() {
            var input, filter, found, table, tr, td, i, j;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
                if (found) {
                    tr[i].style.display = "";
                    found = false;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        function erreur()
        {
            alert("Il y a des systèmes dans cette salle ! " +
                "\n" +
                "Supprimez les ou changer les de salle avant de supprimer la salle.");
        }

        function openPopup(id)
        {
            var dialog = confirm("Supprimer la salle ? \n" +
                "Ceci ne la supprimera que s'il n'y a aucun système dans la salle \n" +
                "Sinon annulez et changez les systemes de salle d'abord");
            if (dialog) {
                document.location.href="/admin/inventaire/supprimer_salle/"+id;
                if({{ ok }} == 0)
                {
                    erreur();
                }
            }
            else {
                document.location.href="/admin/inventaire/lister_salles";

            }
        }
    </script>

    <div class="example-wrapper">
        <h1>Inventaire des Salles</h1>
        <br>

        <span class="h6">Recherche: <label for="myInput"></label><input id="myInput" onkeyup="searchTable()" type="text" class="form-control form-control-lg"></span>

        <br><br>
        <table class="table" id="table">
            <thead class="thead-light">
            <tr>
                <th scope="col-auto">Nom de la salle</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
                <th scope="col-sm-6">Voir les Données</th>
            </tr>
            </thead>
            <tbody>
            {% for room in allRoom %}
                <tr>
                    <td>
                        <!-- Un warning s'affiche uniquement s'il y a un pb de recuperation des données pour chaque salle --
                        {/*% if ( (room.getTempAlert.isAlert == true or room.getCo2Alert.isAlert==true or room.getHumAlert.isAlert==true) and room.isIsStock() != 1) %}-->
                        {% if (noData[room.getId] == 1) %}
                            <img class="img warning" src="{{ asset('img/warning_rouge.png') }}">
                        {% endif %}
                    </td>
                    <td>{{ room.name }}</td>
                    <!-- Supprimer Salle : faire requete pour suppr de la BD -->
                    <!--<td><button class="styled" type="button">Supprimer</button></td>-->
                    <td><a class="btn btn-primary img update favorite" href="/admin/inventaire/modifier_salle/{{ room.id }}" role="button"></a></td>
                    <td><input class="btn btn-primary img delete favorite" type=button onclick="openPopup({{ room.id }})"></td>
                    <td>
                        {% if room.isIsStock() != 1 %}
                                <a class="btn btn-primary" href="/admin/donnees_salle_admin/{{ room.id }}" role="button">{{ room.name }}</a>

                        {% else %}
                            {{ room.name }}
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
        <!-- Ajouter Salle -->
        <a class="btn btn-primary" href="/admin/inventaire/ajouter_salle" role="button">Ajouter une salle</a>
    </div>


{% endblock %}
