{% extends 'basewithnavbar.html.twig' %}

{% block body %}

    <!-- A Faire :
    -- centrer les elements entre eux et sans debordements -->

    <style>

        .img{
            margin-top: 8em;
        }
        .bottom{
            display: flex;
            justify-content: end;
            align-items:end;
            margin-top: 200px;
        }
        body{
            background-image: url("../img/main_wallpaper.jpg");
            background-size: cover;
            margin-left: 150px;
        }
        .btn{
            background-color: #FFFFFF;
            border:solid red;
            width: 15%;
            text-align: center;
            margin: 1em auto;
        }
        .data-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly; /* Espacé sans être collé aux bords */
            margin-left: 20px;
        }

        .boxDesc{
            height: 150px;
            background-color: white;
            text-align: center;
            border: 2px solid grey;
            border-radius: 32px;
            box-shadow: 2px 2px 5px grey;
            margin-top: 50px;
            padding: 20px 30px 30px 30px;
        }

        .titleDesc{
            text-decoration: underline;
            color: #00489a;
            padding-top: 10px;
        }

        .text{
            text-decoration: none;
            color: #75A307;
            font-size: 20px;
        }

        .username{
            text-align: center;
        }
    </style>

    <div class="body">
        <img class="rounded mx-auto d-block img" src="{{ asset('img/profil.png') }}">

        <p class="username h1 p-5 text-light"> Bonjour {{ app.user.username }} </p>

        <br>

        <div class="data-container">
            <div class="boxDesc">
                <p class="titleDesc" >Nombre de salles gérées :</p>
                <p class="text" >{{ countRoom }}</p>
            </div>
            <div class="boxDesc">
                <p class="titleDesc" >Nombre de capteurs gérés :</p>
                <p class="text" >{{ CountSensor }}</p>
            </div>
            <div class="boxDesc">
                <p class="titleDesc" >Nombre de systèmes gérés :</p>
                <p class="text" >{{ countSystem }}</p>
            </div>
        </div>
    </div>

    <div class="bottom col text-center form-group row gg">

            <a class="btn btn-red btn-lg" href="/logout" role="button">Déconnexion</a>

    </div>



{% endblock %}

