{% extends 'basewithnavbar.html.twig' %}

{% block title %}Data Room{% endblock %}

{% block body %}
    <style>
        /*.example-wrapper { text-align: center; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/

        .body{
            height: 100%;
            font-family: arial;
            text-align: center;
        }

        /************************* TITRE **************************/
        .salle {
            margin-top: 100px;
            margin-left: 42%;
            transform: translateY(-50%);
            width: 200px;
        }
        .shape {
            stroke-dasharray: 140 540;
            stroke-dashoffset: -474;
            stroke-width: 8px;
            fill: transparent;
            stroke: #014898;
            transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
        }
        .text {
            line-height: 32px;
            letter-spacing: 8px;
            top: -48px; /* Monter le text dans le rectangle plus haut */
            position: relative;
            text-align: center;
            font-size: 50px;
        }
        .salle:hover .shape {
            stroke-width: 4px; /* Epaisseur du contour plus fine que avant */
            stroke-dashoffset: 0;
            stroke-dasharray: 800;
        }

        /************************* GRILLE **************************/
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; /* Espacé sans être collé aux bords */
            margin: 100px;
        }

        .box{

            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
            /*background-color: rgb(240, 240, 240);*/
            /*max-height: 100px;*/
            min-width: 160px;
            margin-top: 100px; /* Pour écarter du titre */
        }

        .box:hover{
            color: #014898;
            font-size: 25px;
            border-shadow: 5px 5px 5px grey;
        }

        .titreDonnee{
            font-size: 20px;
            /*padding: 10px;*/
        }

        .donnee{
            padding: 50px;
            font-size: 35px;
            border: 0.5px solid grey;
            border-radius: 8px;
            box-shadow: 2px 2px 5px grey;
        }

        /********* EFFET *********/
        /* A Mettre dans le if */

        .box:nth-child(3){ /* le nb désigne la box 1:gauche, 2: centre, 3: droite */
            transform: scale(1);
            animation: box 1s linear infinite;
            color: red;
        }

        @keyframes box{
            0%,
            100%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.3);
            }
        }

        /*.description {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }*/

    </style>

    <div class="body">
        <br>

        <div class="salle">
            <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="200" />
                <div class="text">{{ room }}</div>
            </svg>
        </div>


        <div class="container">

            <div class="box">
                <div class="titreDonnee">Température</div>
                <div class="donnee">{{ temp }} °C</div>
            </div>


            <div class="box">
                <div class="titreDonnee">Humidité</div>
                <div class="donnee">{{ hum }} %</div>
            </div>


            <div class="box">
                <div class="titreDonnee">CO2</div>
                <div class="donnee">{{ co2 }} PPM</div>
            </div>

        </div>

        <div class="description">
            <div class="descriptionRoom">
                <br><br>
                <ul><a style="border-bottom: 2px solid #014898;">La salle {{ room }}:</a>
                    <li> a une superficie de : </li>
                    <li> est située au // étage </li>
                </ul>
            </div>
            <div class="textSensor">
                <br><br>
                <ul>Des conseils vous seront donnés si :
                    <li>+ // °C </li>
                    <li>+ // % d'humidité </li>
                    <li>+ // % PPM </li>
                </ul>
            </div>
        </div>

        <!-- A Modifier: Quand on clique sur la salle -> afficher les descriptions; Quand on passe sur une box, l'ombre devient plus epaisse et le type grossi et devient bleu -->
    </div>
{% endblock %}

