{% extends 'basewithnavbar.html.twig' %}

{% block title %}Data Room{% endblock %}

{% block body %}
    <style>
        .example-wrapper { text-align: center; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        
        .container {text-align: center; margin: 50px; display: flex; flex-wrap: wrap; justify-content: space-between;}
        .border {padding: 50px; font-size: 35px; border: 0.5px solid grey; border-radius: 8px; box-shadow: 2px 2px 5px grey;}
        .box {border: 0.5px solid grey; border-radius: 8px;}
        .despription {display: flex; flex-wrap: wrap; justify-content: space-between;}
        .box:hover {color: #014898; font-size: 25px; border-shadow: 5px 5px 5px grey;}
        .titre {font-size: 20px;}

        .svg-wrapper {
            margin-top: 80px;
            margin-left: 350px;
            /*position: relative;*/
            /*justify-content: center;*/
            /*top: 50%;*/
            transform: translateY(-50%);
            /*margin: 50px;*/
            width: 200px;
        }
        .shape {
            stroke-dasharray: 140 540;
            stroke-dashoffset: -474;
            stroke-width: 8px;
            fill: transparent;
            stroke: #014898;
            border-bottom: 5px solid black;
            transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
        }
        .text {
            line-height: 32px;
            letter-spacing: 8px;
            top: -48px;
            position: relative;
            text-align: center;
            font-size: 50px;
        }
        .svg-wrapper:hover .shape {
            stroke-width: 2px;
            stroke-dashoffset: 0;
            stroke-dasharray: 760;
        }

    </style>

    <div class="example-wrapper">
        <br>
        <!--<h1 class="titre"> </h1>-->
        <!------------------------------------------->
        <div class="svg-wrapper">
            <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="200" />
                <div class="text">{{ room }}</div>
            </svg>
        </div>
        <!------------------------------------------->
        <br>
        <div class="container">

            <div class="box">
                <br>
                <h5 class="titre">Température</h5>
                <div class="border">{{ temp }} °C</div>
            </div>

            <div class="box">
                <br>
                <h5 class="titre">Humidité</h5>
                <div class="border">{{ hum }} %</div>
            </div>

            <div class="box">
                <br>
                <h5 class="titre">CO2</h5>
                <div class="border">{{ co2 }} PPM</div>
            </div>

            <!--<div class="descriptions">-->
                <div class="descriptionRoom">
                    <br><br>
                    <ul><a style="border-bottom: 2px solid #014898;">La salle {{ room }}:</a>
                        <li> a une superficie de : </li>
                        <li> est située au // étage </li>
                    </ul>
                </div>
                <div class="textSensor">
                    <br><br>
                    <ul>Des conseils vous seront donnés si :
                        <li>+ // °C </li>
                        <li>+ // % d'humidité </li>
                        <li>+ // % PPM </li>
                    </ul>
                </div>
            <!--</div>-->

        </div>
        <!-- A Modifier: Quand on clique sur la salle -> afficher les descriptions; Quand on passe sur une box, l'ombre devient plus epaisse et le type grossi et devient bleu -->
    </div>
{% endblock %}

